@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_LayoutPageGame.cshtml";
}


<div class="grid_12 alpha omega coverpageGame">
    <div class="grid_12 ContentPageGame">

        <div class="grid_12 CoverLink">
            <div class="grid_2 SpaceGrid2"></div>
            
                <div class="grid_8 CoverLink">
                    <div class="GameLinkRed">All Web Games</div>
                    <div class="GameLinkGray">Action </div>
                    <div class="GameLinkGray">Strategy</div>
                    <div class="GameLinkGray">Adventure </div>
                    <div class="GameLinkGray">Creative</div>
                    <div class="GameLinkGray">Preschool</div>
                </div>
            
            <div class="grid_2 SpaceGrid2"></div>
        </div>
        <div class="clear"></div>

        <div class="grid_11 CoverItemgame">
            <div class="grid_2">
                <img src="~/Images/Game1.png" />
                 <div class="TextGrayLink">LEGO® Bricks & More</div>
                 <div class="TextRedLink">Princess</div>
            </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Game2.png" />
                 <div class="TextGrayLink">LEGO® Bricks & More</div>
                 <div class="TextRedLink">Princess</div>
                 
             </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Game3.png" />
               <div class="TextGrayLink">LEGO® City</div>
                 <div class="TextRedLink">Coast Guard Patrol</div>
             </div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_2">
                <img src="~/Images/Game4.png" />
                <div class="TextGrayLink">LEGO® Marvel™ Super Heroes</div>
                 <div class="TextRedLink">Iron Man 3</div>
            </div>

        </div>
         <div class="grid_11 CoverItemgame">
            <div class="grid_2">
                <img src="~/Images/Game5.png" />
                  <div class="TextGrayLink">LEGO® Castle</div>
                 <div class="TextRedLink">Gold Getaway Game</div>
            </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Game6.png" />
                  <div class="TextGrayLink">LEGO® Friends</div>
                 <div class="TextRedLink">Dolphin Cruiser Game</div>
             </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Game7.png" />
                  <div class="TextGrayLink">LEGO® Castle</div>
                 <div class="TextRedLink">Forest Ambush Game</div>
             </div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_2">
                <img src="~/Images/Game8.png" />
                 <div class="TextGrayLink">LEGO® The Lord of the Rings™</div>
                 <div class="TextRedLink">Battle at the Black Gate</div>
            </div>

        </div>
        <div class="grid_1"></div>

    </div>


</div>





