@{
    ViewBag.Title = "Home Page";
}



<div class="grid_12 alpha omega coverpagehome">

    <div class="grid_9 omega sideLeft">
        <div class="slidePromotion">
            <div class="iconWhatNew">
                <img src="~/Images/new-icon38.png" />
            </div>
            <div class="TextWhatNew">
                <div class="TextWhatNewLightColor">What's </div>
                <div class="TextWhatNewDarkColor">New</div>
                  </div>
               <div class="slidePromotionImg"> <img src="~/Images/BannerPromotion.jpg" /></div>
            
            <div class="Promotionfloatbullet">

                <img src="~/Images/bulletGray.png" /><img src="~/Images/bulletGray.png" /><img src="~/Images/bulletGray.png" /><img src="~/Images/bulletBlack.png" />
            </div>
          

        </div>
        <div class="grid_3 omega CovercontentLeftGrid_3">

            <div class="BoxLegoShop">
                <div class="iconBoxLegoShop">
                    <img src="~/Images/legoshop-icon38.png" />
                </div>

                <div class="TextBoxLegoShop">
                    LEGO ® Online shop
                </div>
                <div class="LinkLegoShop">
                    <ul>
                        <li>www.central.co.th </li>
                        <li>www.toysrus.co.th</li>
                        <li>www.lazada.co.th</li>
                    </ul>
                </div>

            </div>

            <div class="BoxUseFulLink">
                <div class="iconBoxUseFulLink">
                    <img src="~/Images/Folder-Links-icon30.png" />

                </div>
                <div class="TextBoxUseFulLink">
                    Useful link
                </div>
                <div class="LinkUseFulLink">
                    <ul>
                        <li>LEGO ® Official site</li>
                        <li>Eurobricks</li>
                        <li>Brickshelf</li>
                        <li>Peeron</li>
                        <li>Brickset</li>
                        <li>Facebook LEGO Thailand</li>
                    </ul>
                </div>


            </div>

            <div class="BoxCartoonLeft">
                <img src="~/Images/CartoonLeft.png" />
            </div>

            <div class="BoxCounter">
                <img src="~/Images/Couter.png" />

            </div>

        </div>
        <div class="grid_6 CovercontentRightGrid_6">

            <div class="BoxCatalog">
                <div class="iconCatalog">
                    <img src="~/Images/catalogs-icon38.png" />
                </div>
                <div class="TextBoxCatalog">
                    Catalogue
                </div>
                <div>
                    <img src="~/Images/BannerCatalog.jpg" />
                </div>

            </div>

            <div class="BoxHistory">
                <div class="iconHistory">
                    <img src="~/Images/history-icon38.png" />
                </div>
                <div class="TextHistory">
                    History
                </div>
                 <div>
                     <img src="~/Images/BannerHistory.jpg" />
                 </div>
                <div class="HeaderTextHistory">History of Lego</div>
                <div class="ConentTextHistory">The History of Lego spans almost  100 years of the existence of a toy  that grew from small wooden playthings in the early 20th century into the center of a vast</div>
            </div>


        </div>

    </div>


    <div class="grid_3 sideRight">
        <div class="BoxAdsHeader">
            <div class="TextAdsHeader">Recommendations</div>

        </div>
        <div class="BoxAds">
            <div class="TextNewProduct">New Product</div>

            <div class="BoxAdsImg">
                <img src="~/Images/BannerAds.jpg" />

            </div>
        </div>
        <div class="BoxMocsRandom">
            <div class="TextMocsRandom">Mocs Random</div>
            <div class="BoxMocsRandomImg">
                <img src="~/Images/mocsrandom.jpg" />

            </div>


        </div>

        <div class="BoxDUPLOBook">

            <div class="iconBoxDUPLOBook">
                <img src="~/Images/duplobook-icon48.png" />

            </div>
            <div class="TextBoxDUPLOBook">DUPLO book </div>
            <div class="BoxDUPLOBookImg">
                <img src="~/Images/BannerDuplo.jpg" />
            </div>

        </div>
        <div class="BoxBuildingTips">
            <div class="iconBuildingTips">
                <img src="~/Images/buildingtip-icon.png" />

            </div>
            <div class="TextBuildingTips">
                Building Tips
            </div>
            <div class="BoxBuildingTipsImg">
                <img src="~/Images/Buildingtip.jpg" />
            </div>

        </div>
        <div class="BoxCartoonRight">
            <img src="~/Images/CartoonRight.png" />
        </div>

    </div>

   
</div>
