@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_LayoutPageProduct.cshtml";
}

<div class="grid_12 alpha omega coverpageProduct">

    <div class="grid_12 coverItemProduct">
        <div class="grid_2">
            <div class="iconProduct">
                <img src="~/Images/ProductIconImage.png" />
            </div>
        </div>

        <div class="grid_10"></div>
        <div class="clear"></div>

        <div class="grid_11 GrouproductCategory">
            <div class="grid_11 CoverCategoryItem">
                <div class="grid_3">

                    <img src="~/Images/Hover1.png" />
                </div>
                <div class="grid_1">&nbsp;</div>
                <div class="grid_3">

                    <img src="~/Images/Hover2.png" />
                </div>

                <div class="grid_1">&nbsp;</div>
                <div class="grid_3">

                    <img src="~/Images/Hover3.png" />
                </div>
            </div>

            <div class="clear"></div>
            <div class="grid_11 CoverCategoryItem">
                <div class="grid_3">

                    <img src="~/Images/Hover4.png" />
                </div>
                <div class="grid_1">&nbsp;</div>
                <div class="grid_3">
                    <a href="/Home/ProductList">
                        <img src="~/Images/Hover5.png" />
                    </a>

                </div>
                <div class="grid_1">&nbsp;</div>
                <div class="grid_3">
                    <img src="~/Images/Hover6.png" />
                </div>
            </div>
        </div>
        <div class="grid_1"></div>
    </div>

</div>
