@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutPageProductDetail.cshtml";
}

<div class="grid_12 alpha omega coverpageProduct">
   
    <div class="grid_12  CoverProductContent">

        <div class="grid_2 ">&nbsp;</div>
        <div class="grid_8">
        <div class="grid_4">
            <img src="~/Images/ProductDetail.png" />
            </div>
        <div class="grid_4 CoverDetail">

            <p>ชื่อสินค้า : Police Truck</p>             <p>รหัส : 7743</p>             <p>อายุ : 5-12 ปี</p>             <p>จำนวนชิ้น: 524</p>             <p>วางจำหน่าย:  เดือนสิงหาคม 2554</p>
        </div>
            </div>
          <div class="grid_2 ">&nbsp;</div>
        
    </div>
    </div>
