@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_LayoutPageStore.cshtml";
}

<div class="grid_12 alpha omega CoverpageStore">

    <div class="grid_12 ContentPageStore">

        <div class="grid_1 SpaceGrid1"></div>

        <div class="grid_11 CoverLink">

            <div class="StoreLinkRed">Bangkok Metropolitan Region  </div>
            <div class="StoreLinkGray">North </div>
            <div class="StoreLinkGray">South</div>
            <div class="StoreLinkGray">Eastern</div>
            <div class="StoreLinkGray">West</div>
            <div class="StoreLinkGray">Central Plain </div>
            <div class="StoreLinkGray">Northeast</div>

        </div>

        <div class="grid_11 CoverStoreLogo">
            <div class="grid_2">
                 <a href="/Home/StoreLocationDetails"  >
                <img src="~/Images/Central.png" /></a>
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2">
                  <img src="~/Images/Emporium.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                <img src="~/Images/Paragon.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2">
                 <img src="~/Images/Isetan.png" />
            </div>

        </div>
          <div class="grid_11 CoverStoreLogo">
            <div class="grid_2">
                <img src="~/Images/Lotus.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2">
                 <img src="~/Images/Tang%20Hua%20Seng.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Robinson.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2">
                 <img src="~/Images/Toysrus.png" />
            </div>

        </div>
          <div class="grid_11 CoverStoreLogo">
            <div class="grid_2">
                <img src="~/Images/TheMall.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2">
                 <img src="~/Images/FuturePark.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>
             <div class="grid_2">
                 <img src="~/Images/Zen.png" />
            </div>
            <div class="grid_1 SpaceGrid1"></div>

             <div class="grid_2 SpaceGrid2">
               
            </div>

        </div>

        <div class="grid_1 SpaceGrid1"></div>
    </div>


</div>
