@{
    ViewBag.Title = "StoreLocationDetails";
    Layout = "~/Views/Shared/_LayoutPageStore.cshtml";
}

<div class="grid_12 alpha omega CoverpageStore">
    <div class="grid_12 ContentPageStore">

        <div class="grid_1 SpaceGrid1"></div>

        <div class="grid_11 CoverLink">

            <div class="StoreLinkRed">Bangkok Metropolitan Region  </div>
            <div class="StoreLinkGray">North </div>
            <div class="StoreLinkGray">South</div>
            <div class="StoreLinkGray">Eastern</div>
            <div class="StoreLinkGray">West</div>
            <div class="StoreLinkGray">Central Plain </div>
            <div class="StoreLinkGray">Northeast</div>

        </div>
        <div class="grid_12">
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_11">

                <div class="TextDetailStore ">
                    <h2>Central </h2>
                </div>
            </div>
            <div class="clear"></div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_10">
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Chidlom 6 Floor 
                    </p>
                    <p>
                        Tel: 02-793-7777
                    </p>
                </div>
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Ladprao 3 Floor 
                    </p>
                    <p>
                        Tel: 02-541-1111
                    </p>
                </div>
            </div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="clear"></div>

            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_10">
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Bangna  2 Floor 
                    </p>
                    <p>
                        Tel: 02-725-5000
                    </p>
                </div>
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Pinklao 4 Floor 
                    </p>
                    <p>
                        Tel: 02-802-9000
                    </p>
                </div>
            </div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="clear"></div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_10">
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Rama II 2 Floor 
                    </p>
                    <p>
                        Tel: 02-811-7000
                    </p>
                </div>
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Rame III 4 Floor 
                    </p>
                    <p>
                        Tel: 02-673-5555
                    </p>
                </div>
            </div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="clear"></div>
            <div class="grid_1 SpaceGrid1"></div>
            <div class="grid_10">

                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Changwattana  5 Floor 
                    </p>
                    <p>
                        Tel:02-831-5555
                    </p>
                </div>
                <div class="grid_5 TextDetailStore">
                    <p>
                        Central Ramindhra 4 Floor 
                    </p>
                    <p>
                        Tel:02-797-8000
                    </p>
                </div>
            </div>

            <div class="grid_1 SpaceGrid1"></div>
        </div>

    </div>

</div>



