@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_LayoutPageVideo.cshtml";
}

<div class="grid_12 alpha omega CoverpageVideo">
    <div class="grid_11 CoverSlideVideo">
        <img src="~/Images/SlideVideo.png" />

    </div>
    <div class="grid_11">
        <div class="grid_2">
            <img src="~/Images/Video1.png" />
            <div class="TextRedLink">Coast Guard</div>
            <div class="TextGrayLink">City</div>
        </div>
        <div class="grid_1 SpaceGrid1"></div>
        <div class="grid_2">
            <img src="~/Images/Video2.png" />
             <div class="TextRedLink">Chase Mc Cain</div>
            <div class="TextGrayLink">City</div>
        </div>
        <div class="grid_1 SpaceGrid1"></div>
        <div class="grid_2">
            <img src="~/Images/Video3.png" />
             <div class="TextRedLink">Ready Steady</div>
            <div class="TextGrayLink">City</div>
        </div>
        <div class="grid_1 SpaceGrid1"></div>
        <div class="grid_2">
            <img src="~/Images/Video4.png" />
             <div class="TextRedLink">Fire Hose Frenzy</div>
            <div class="TextGrayLink">City</div>
        </div>

    </div>
    <div class="grid_1 SpaceGrid1">
    </div>



</div>
